#viewRequestContainer {
  display: grid;
  grid-template-columns: 5em 1fr;
  grid-template-areas:
    "action header"
    "action details"
    "action documents"
    "action notes";
  column-gap: 0.5em;
  row-gap: 0.5em;
  margin: 0.5em;
}

#viewRequestActionBar {
  grid-area: action;
  position: fixed;
  height: calc(100vh - 4.5em);
}

#viewRequestHeader {
  grid-area: header;
  min-height: 5em;
}

#viewRequestDocuments {
  grid-area: documents;
  min-height: 5em;
}

#viewRequestNotes {
  grid-area: notes;
  min-height: 5em;
}

.gray-gradiant {
  border-color: #dcdcdc;
  background-image: linear-gradient(to bottom, #e8e8e8 0, #f5f5f5 100%);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25em;
  padding: 0.25em;
}

#viewRequestDetailsContainer {
  grid-area: details;
}

.viewRequestDetails {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 0.5em;
  column-gap: 1em;
}

@media (min-width: 1024px) {
  #viewRequestContainer {
    grid-template-columns: 5em 1fr 1fr;
    grid-template-areas:
      "action header header"
      "action details documents"
      "action notes documents";
  }
  span.document-name {
    max-width: 40vw;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.inDropZone {
  opacity: 0.7;
}

#documentDropZone.inDropZone::after {
  border-color: blue;
  border-style: dashed;
}
