.requestFormContainer {
  display: grid;
  max-width: 800px;
  width: 100%;
}

.requestErrorText {
  color: #bc2f32;
  font-size: 12px;
  display: block;
}

.requestFieldIcon {
  margin-right: 0.5em;
}

.requestFieldContainer {
  margin: 1em;
  display: grid;
  position: relative;
}

.requestFieldLabel {
  padding-bottom: 0.5em;
  display: flex;
}
.requestFieldDescription {
  display: block;
}
.requestCreateButton {
  display: grid;
  justify-content: end;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.requestListBox {
  max-height: 15em;
}

.fui-Title1 {
  white-space: nowrap;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
