@import "../BaseFormFields/BaseFormFields.css";

.requestFormContainer {
  display: grid;
  max-width: 800px;
  width: 100%;
}

.requestFieldContainer {
  margin: 1em;
  display: grid;
  position: relative;
}

.requestCreateButton {
  display: grid;
  justify-content: end;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.requestWizardButtons {
  display: flex;
  justify-content: flex-start;
  gap: 1em 0.5em;
  margin-bottom: 0.5em;
}

.fui-Title1 {
  white-space: nowrap;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
